html,
body,
#root {
  height: 100%;
  margin: 1px;
  padding: 0;
}

.collaborate-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background-image {
  height: 600px; /* Update the height as needed */
  background-image: url('../Support/support1.jpg');
  background-size: cover;
  background-position: center;
}

.quote-container {
  font-size: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:inherit;
  color: #333;
  padding: 20px;
  margin-top: -30px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.Collab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
}

.newdiv {
  display: flex;
  align-items: stretch;
  width: 70%;
  margin: 0 auto;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 243, 233);
  margin-left: 60px;
  height: 305px;
  overflow: auto;
}

.text-container h2 {
  font-size: 30px;
  font-weight: bold;
}

.text-container p {
  
  font-size: 18px;
  color: #333;
}

.cards-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 80px 150px;
}

.card {
  font-size: 19px;
  width: calc(40% - 25px);
  padding: 20px;
  background-color: #eeeffd;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
}



/* Media Queries */

@media (max-width: 900px) {
  .newdiv {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .cards-container {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .newdiv {
    width: 90%;
  }

  .cards-container {
    margin-top: 50px;
  }

  .card {
    width: 100%;
  }
  
}


/* Media Query for .collab text */
@media (max-width: 768px) {
  .Collab {
    font-size: 25px;
    padding: 8px 16px;
  }
}