.firstCard {
  background-color: rgb(173, 216, 245);
}

.secondCard {
  background-color: rgb(173, 216, 245);
}

.thirdCard {
  background-color: rgb(173, 216, 245);
}

#more1 {
  display: none;
}
#more2 {
  display: none;
}
#more3 {
  display: none;
}

.d-block.w-100 {
  height: 720px; 
}
/* height of every image is constant right now, but need to find a fix. If height is allowed to vary, the size of the carousel keeps on changing according to the size of the image. */