/*Cards*/

.firstCard {
  background-color: rgb(153, 192, 247);
}

.secondCard {
   background-color: rgb(153, 192, 247);
}

.thirdCard {
  background-color: rgb(153, 192, 247);
}
.cards{
  /* margin */
  padding-top: 1px;
  /* padding-right: 20px; */
  padding-bottom: 50px; 
  /* padding-left: 20px; */
  margin: 10px,10px,10px,20px;
  background-color: rgb(231, 231, 243);
  /* height: 500px; */

}

.rowStyle{
  margin: 200px,10px,200px,10px;
  text-align: center;
}

h3.titleCards {
  text-align: center;
  font-family: var(--bs-body-font-family);
  margin-top: 20px;
}

/* read more buttons*/
#more1 {
  display: none;
}
#more2 {
  display: none;
}
#more3 {
  display: none;
}




/*carousel*/

.carousel {
height: 480px;
background-color: white;
}

.carousel-inner img {
height: 480px;
object-fit: contain;

}

.slider {
  width: 100%;
  height: 50%; 
  margin: auto;
}

.slider1 {
  align-items: center;
  margin-bottom: 50px;
}

.d-block.w-100 {
  align-items: center;
}
.carousel-control-next-icon {
  background-color: black;
}
.carousel-control-next-icon ::after {
  background-color: black;
}
.carousel-control-prev-icon::after {
  content: none;
}
.carousel-control-prev-icon {
  background-color: black;
}

