nav {
    box-shadow: 5px 1px 50px #888888b6;
  }
  

.nav-item .nav-link{
  color: rgba(156, 146, 146, 0.984);
}

li{
  justify-content: space-evenly;
  display: flex;
  padding: 5px;
  font-size: large;
  position: relative;
}

.dropdown-item{
  padding: 2px;
  font-size: medium;
}

.nav-item:hover{
  text-decoration: underline rgba(156, 146, 146, 0.984);
  opacity: 80%;
}

.dropdown-item:active{
  color: rgba(156, 146, 146, 0.984);
}

.navbar-brand{
  color: rgb(156, 146, 146);
  font-size: x-large;
}

.navbar-brand:hover{
  color: rgba(156, 146, 146, 0.984);
}

.random{
  display: flex;
  flex-direction: row;
}



@media (min-width: 699px){
  .navbar-toggler{
    display: none !important;
    flex-basis: auto;
}
}

@media (min-width:0px) and (max-width: 699px){
  .navbar-toggler{
    display: flex !important;
    flex-basis: auto;
}
}


@media (min-width: 700px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.random-2{
  display: inline-flex;
}
}

  


  